// ----------------------------------------------------------------------------
//
//  Variables
//
//  All variables contains in project.
//	Define here the general values and others.
//
// ----------------------------------------------------------------------------

$body-bg: #232830;
$base-font-size: 18px;

$font-family: "Roboto", Helvetica, sans-serif;
$font-weight: 400;
$font-style: normal;

$global-radius: 3px;
$global-rounded: 1000px;
$global-margin: 40px;
$global-columns: 12;

$base-shadow: $global-margin / 10;
$base-factor: 10%;

// ----------------------------------------------------------------------------
//  Base colors used in almost all components
// ----------------------------------------------------------------------------

$color-hard: #232830;
$color-medium-soft: lighten($color-hard, 40%);
$color-soft: lighten($color-hard, 75%);

$color-primary: #425B9C;
$color-secondary: #FD8679;
$color-success: #00Bf9A;
$color-error: #E65F78;
$color-waiting: #E6CB61;

$text-color: lighten($body-bg, 50%);
$input-color: $color-medium-soft;

$link-color: $color-primary;
$link-hover-color: lighten($link-color, 10%);
$link-active-color: darken($link-color, 10%);

$selection-background: $color-primary;
$selection-color: white;
