// ----------------------------------------------------------------------------
//
//	Partials > Footer
//
// ----------------------------------------------------------------------------

$footer-background: $body-bg;
$footer-margin: $global-margin / 2;

// ----------------------------------------------------------------------------
//	Footer classes
// ----------------------------------------------------------------------------

.footer {
	color: lighten($footer-background, 15%);
	font-size: flex(13px);
	text-align: center;
	background: $footer-background;
	padding: $footer-margin 0;
}
