// ----------------------------------------------------------------------------
//
//	Partials > Header
//
// ----------------------------------------------------------------------------

$header-height: 80px;
$header-bg: darken($body-bg, 5%);

// ----------------------------------------------------------------------------
//	Header classes
// ----------------------------------------------------------------------------

.header {
	background: $header-bg;
  padding: ($global-margin * 1.5) 0;

  .logo {
    font-weight: 700;
    color: white;
    text-transform: uppercase;
    text-align: center;
    margin: 0;
  }
}
