// ----------------------------------------------------------------------------
//
//	Partials > Header
//
// ----------------------------------------------------------------------------

$header-height: 80px;
$header-background: $color-primary;

// ----------------------------------------------------------------------------
//	Header classes
// ----------------------------------------------------------------------------

.header {
	height: $header-height;
	background: $header-background;
}
