// ----------------------------------------------------------------------------
//
//	Partials > Main
//
// ----------------------------------------------------------------------------

$main-title-bg: lighten($body-bg, 7%);
$main-title-color: white;
$main-title-border: 2px solid lighten($navigation-border-color, 5%);

// ----------------------------------------------------------------------------
//  Main Title
// ----------------------------------------------------------------------------

.main-title {
  font-weight: 100;
  color: $main-title-color;
  background: $main-title-bg;
  margin: 0;
  padding: $global-margin;
}

@media (min-width: 48rem) {
  .main-title {
    font-size: flex(54px);
  }
}
