// ----------------------------------------------------------------------------
//
//  Partials > Navigation
//
// ----------------------------------------------------------------------------

$navigation-item-color: white(.7);
$navigation-item-bg: darken($body-bg, 5%);
$navigation-border-color: lighten($body-bg, 4%);
$navigation-border: 1px solid $navigation-border-color;

// ----------------------------------------------------------------------------
//  Classes
// ----------------------------------------------------------------------------

.navigation {
  @extend %wrap;
  border-top: $navigation-border;
}

.navigation-menu {
  @include list-nostyle;
  display: table;
  width: 100%;
}

.navigation-item {
  float: left;
  width: 33.33%;
  border-right: $navigation-border;

  &:last-child {
    border: 0;
  }

  a {
    display: block;
    text-align: center;
    color: $navigation-item-color;
    background: $navigation-item-bg;
    @include transition-property(background);
    @include transition-duration(.3s);
    padding: ($global-margin / 2) 0;
  }

  a:hover {
    background: darken($navigation-item-bg, 3%);
  }
}

.navigation-item a img {
  width: 15%;
  @include transition(opacity .8s);
  @include opacity(.2);
}

.navigation-item a:hover img {
  @include opacity(1);
}

@media (max-width: 30rem) {
  .navigation-item a {
    padding-top: ($global-margin / 4);
    padding-bottom: ($global-margin / 4);
  }
}
