---
title: Bem vindo
---

<section class="welcome row">
  <div class="column">
{{#markdown}}
### Objetivo deste Guia
Escrevemos códigos todos os dias e muitos desses códigos não vão passar apenas pela mão do seu autor, mas por muitas mãos. Este guia surgiu para que você possa manter um padrão de convenções e boas práticas e que seu código possa ter um brilho natural.

> Toda linha de código deve parecer que foi escrita por uma única pessoa, não importa a quantidade de contribuidores.

### Siga até sua morte!
- Readability counts.
- Seja consistente.
- Cada objeto deve ter apenas uma responsabilidade.
- SOLID para qualquer coisa.
- Seja sempre DRY (Don't Repeat Yourself).
- Convenção sobre configuração (CoC).
- Flat é melhor que aninhado
- Bonito é melhor que feio.
- Simples é melhor que complexo.
- Adicione uma linha em branco no final de todo arquivo.
- Limite suas linhas à 80 caracteres.
{{/markdown}}
  </div>
  <div class="column">
{{#markdown}}
### Referências para o dia-dia
Um padrão é algo determinado por uma ou por algumas pessoas. Não existe o melhor ou o pior padrão, existe aquele que você mais se adequar. Por isso, caso você não se interesse por este guia de estilo, ou mesmo que se interesse, porém queira conhecer outros, preparei uma lista bem interessante para você. Fiquei a vontade para estudar e montar o seu próprio :)

#### Guias de Estilo para HTML/CSS
- [Code Guide by @mdo](http://mdo.github.io/code-guide/)
- [Idiomatic CSS](https://github.com/necolas/idiomatic-css)
- [Github Styleguide](https://github.com/styleguide)
- [Starbucks Styleguide](http://www.starbucks.com/static/reference/styleguide/)
- [Mozilla Styleguide](http://www.mozilla.org/en-US/styleguide/)
- [Sass-lang Styleguide](http://sass-lang.com/styleguide/code/)

#### Guia de Estilo para Javascript
- [AirBNB Javascript Styleguide](https://github.com/airbnb/javascript)
- [Google Javascript Styleguide](http://google-styleguide.googlecode.com/svn/trunk/javascriptguide.xml)
- [Idiomatic JS](https://github.com/rwldrn/idiomatic.js/)
- [Douglas Crockford’s Code Conventions for JavaScript](http://javascript.crockford.com/code.html)
- [jQuery JavaScript Style Guide](http://contribute.jquery.org/style-guide/js/)
- [Zeno Rocha’s Coding Style](https://github.com/zenorocha/my-coding-style)
{{/markdown}}
  </div>
</section>
