---
title: Bem vindo
---

<section class="welcome row">
  <div class="column">
    <h3>Objetivo deste Guia</h3>
    <p>Escrevemos códigos todos os dias e muitos desses códigos não vão passar apenas pela mão do seu autor, mas por muitas mãos. Este guia surgiu para que você possa manter um padrão de convenções e boas práticas e que seu código possa ter um brilho natural.</p>
  </div>
  <div class="column">
    <h3>Regra de Ouro</h3>
    <blockquote>
      Toda linha de código deve parecer que foi escrita por uma única pessoa, não importa a quantidade de contribuidores.
    </blockquote>
    <p><strong>PS:</strong> Siga esta regra até à sua morte</p>
  </div>
</section>
