<footer class="footer">
  Feito com muito ❤︎ por <a href="http://www.pedronauck.com/" target="_blank">Pedro Nauck</a>. Fique a vontade para forkar e fazer o seu :)<br>
  Com base no <a href="http://mdo.github.io/code-guide" target="_blank">Code Guide do @mdo</a> para o que se refere à HTML e CSS, juntamente com conceitos do <a href="https://github.com/airbnb/javascript" target="_blank">AirBNB Javascript Style Guide</a> e <a href="https://github.com/zenorocha/my-coding-style" target="_blank">Coding Style do Zeno Rocha</a> para as convenções de Javascript.
</footer>
