<footer class="footer">
  Este styleguide foi criado com base no <a href="http://mdo.github.io/code-guide" target="_blank">Code Guide do @mdo</a> juntamente com conceitos do <a href="https://github.com/airbnb/javascript" target="_blank">AirBNB Javascript Styleguide</a>.
</footer>

<script src="{{assets}}/js/application.js"></script>
