<footer class="footer">
  Este styleguide foi criado com base no <a href="http://mdo.github.io/code-guide" target="_blank">Code Guide do @mdo</a> para as partes de HTML e CSS, juntamente com conceitos do <a href="https://github.com/airbnb/javascript" target="_blank">AirBNB Javascript Styleguide</a> e <a href="https://github.com/zenorocha/my-coding-style" target="_blank">Zeno Rocha's Styleguide</a> para as convenções de Javascript.
</footer>

<script src="{{assets}}/js/application.js"></script>
