<header class="header" data-stellar-background-ratio="2" data-stellar-horizontal-offset="50" data-stellar-vertical-offset="200">
  {{!-- Project logo --}}
  <h1 class="logo">
    <a href="{{sitePath}}">
      <img src="{{assets}}/images/logo.svg" alt="Voltar para Home">
    </a>
  </h1>

  {{!-- Share buttons --}}
  <div class="share-buttons">
  <iframe class="github-fork-button" src="http://ghbtns.com/github-btn.html?user=pedronauck&repo=frontend-styleguide&type=fork&count=true" height="30" width="85" frameborder="0" scrolling="0" style="width:85px; height: 20px;" allowTransparency="true"></iframe>
    <iframe src="//www.facebook.com/plugins/like.php?href=https%3A%2F%2Fpedronauck.com%2Ffrontend-styleguide&amp;width&amp;layout=button_count&amp;action=like&amp;show_faces=true&amp;share=false&amp;height=21&amp;appId=127412984026726" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:100px; height:23px; padding-top:3px;" allowTransparency="true"></iframe>
    <a href="https://twitter.com/share" class="twitter-share-button" data-lang="pt-br" data-url="http://pedronauck.com/frontend-styleguide" data-via="pedronauck" data-text="Guia de Estilo para FrontEnd http://bit.ly/1m5RJHe #javascript #html #css #frontend">Tweet</a>
    <div class="g-plus" data-action="share" data-annotation="none"></div>
  </div>
</header>
