<nav class="navigation">
  <ul class="navigation-menu">
    <li class="navigation-item html"><a href="#">HTML</a></li>
    <li class="navigation-item css"><a href="#">CSS</a></li>
    <li class="navigation-item js"><a href="#">Javascript</a></li>
  </ul>
</nav>
