<nav class="navigation">
  <ul class="navigation-menu">
    <li class="navigation-item html">
      <a href="/html">
        <img src="{{assets}}/images/logo-html.svg">
        HTML
      </a>
    </li>
    <li class="navigation-item css">
      <a href="/css">
        <img src="{{assets}}/images/logo-css.svg">
        CSS
      </a>
    </li>
    <li class="navigation-item js">
      <a href="/javascript">
        <img src="{{assets}}/images/logo-js.svg">
        JS
      </a>
    </li>
  </ul>
</nav>
