// ----------------------------------------------------------------------------
//
//  Components > Grid
//
// ----------------------------------------------------------------------------

$column-right-bg: lighten($body-bg, 3%);

// ----------------------------------------------------------------------------
//  Classes
// ----------------------------------------------------------------------------

.column {
  padding: $global-margin;
}

.column p {
  max-width: 40rem;
}

.column-primary {
  background-color: $column-right-bg;
}

.row {
  border-bottom: 2px solid $column-right-bg;
}

@media (min-width: 48rem) {
  .row {
    display: table;
    width: 100%;
    table-layout: fixed;
  }

  .column {
    display: table-cell;
    vertical-align: top;
  }

  .column + .column {
    border-top: 0;
  }
}
