// ----------------------------------------------------------------------------
//
//  Components > Grid
//
// ----------------------------------------------------------------------------

$column-right-bg: lighten($body-bg, 3%);
$column-border-color: lighten($body-bg, 5%);

// ----------------------------------------------------------------------------
//  Classes
// ----------------------------------------------------------------------------

.row {
  border-bottom: 2px solid lighten($column-right-bg, 4%);
}

.column {
  padding: $global-margin ($global-margin / 2);
}

.column ~ .column {
  background-color: $column-right-bg;
}

@media (min-width: 64rem) {
  .row {
    display: table;
    width: 100%;
    table-layout: fixed;
  }

  .column {
    display: table-cell;
    vertical-align: top;
    padding: $global-margin;
  }
}

.column > *:last-child,
.column > *:last-child > *:last-child,
.column > *:last-child > *:last-child > *:last-child {
  margin-bottom: 0;
}
